<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>taskmanager</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/script.js" ></script>
    <header>
        <h1>task manager</h1>
        <p>a handy place to track what needs doing</p>
    </header>
    <main>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quod, tempore numquam repellat hic molestias iste.</p>
        <div class="link-container">
            <p class="btn-link" id="login">login</p>
            <p class="btn-link" id="register">sign up</p>
        </div>
        <div class="form-wrapper">

        </div>
    </main>
</body>

</html>