<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>taskmanager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="scripts/script.js" ></script>
</head>
<body>

    <header>
        <h1>task manager</h1>
        <p>a handy place to track what needs doing</p>
    </header>
    <main>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quod, tempore numquam repellat hic molestias iste.</p>
        <div class="link-container">
            <a class="btn-link" href="/login">login<a>
            <a class="btn-link" href="/register">sign up</a>
        </div>
            <p>welcome to the page</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque amet odio ratione labore voluptatem maiores eveniet vel, incidunt unde! Quisquam dolor atque, voluptates itaque facere nisi veritatis eaque sapiente incidunt voluptatum dolorem accusantium aliquid corporis reiciendis perferendis consequatur eveniet quibusdam quas, vitae qui vel a officiis aut. Vel ratione corrupti dolores, amet sed, eos aspernatur minus asperiores voluptatem iure dicta expedita! Asperiores eveniet, quidem laudantium ipsum aliquam fugit, veritatis, ducimus est ullam voluptatibus praesentium nihil minus excepturi ut hic quaerat?</p>
        </div>
        <div id="results">

        </div>
    </main>
</body>

</html>
