*{
    box-sizing: border-box;
}



body{
    border: 2px solid red;
    height: 100vh;
    margin:0;
    padding:0 2em  
}

header{
    border: 2px solid purple;
}

.link-container{
    display: flex;
    gap: 1em;
    padding: 1em;
}

.btn-link{
    background-color: rgb(29, 29, 189);
    color: aliceblue;
    
}
.btn-link:hover{
    cursor:pointer;
}